# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Secret & Environment Management (SANGAT KRUSIAL!)
.env
*.key
*.jks
*.keystore
google-services.json
GoogleService-Info.plist

# Symbol processing related
android/app/src/main/assets/
ios/Flutter/Generated.xcconfig
